body {
    padding: 0;
    margin: 0;
    height: 100vh;

    background-color: rgb(68, 131, 184, .5);

    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

div.pane {
    background-color: white;
    border: 1px solid rgb(145, 145, 145);
    height: 25vw;
    width: 25vw;
}

.search {
    width: 25vw;

    display: flex;
    gap: 10px;
}

.search input {
    height: 1.5rem;
    width: 100%;
    outline: none;
    border-radius: 2rem;
    border: none;
    font-size: 1.3rem;
    padding-left: 10px;
}

.search button {
    font-size: 1.2rem;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
}

.search button:hover {
    transform: translateY(3%);
}